# Go binary files
/bin/
/obj/
*.exe
*.out
*.test

# Build directories
/build/
dist/

# Go workspace files
*.idea/
.vscode/

# IDEs and Editors
*.vscode/
*.sublime-project
*.sublime-workspace

# Operating System files
.DS_Store
Thumbs.db

# Environment files (such as the private key or credentials)
.env

# SSH private keys (keep private)
*.pem
 minecraft-server-key.pem\:Zone.Identifier
